name: Flutter iOS Unsigned Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Flutter iOS
        run: flutter build ios --release --no-codesign

      - name: Create Unsigned IPA
        run: |
          mkdir -p build/ios/iphoneos/Payload
          cp -r build/ios/iphoneos/Runner.app build/ios/iphoneos/Payload/
          cd build/ios/iphoneos
          zip -r Runner_unsigned.ipa Payload

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: flutter-unsigned-ipa
          path: build/ios/iphoneos/Runner_unsigned.ipa
